@import 'src/themes/theme';

$rows-per-planner: 7;
$item-margin: 0.25em;
$navbar-height: 3em;
$height-threshold: 512px;

// Size image so specified rows fit on a page minus header, footer and space between.
@function plannerRowHeight() {
  $plannerAreaHeight: calc(100vh - 2 * $navbar-height);
  $totalVerticalSpaceBetweenRows: $item-margin * 2 * ($rows-per-planner + 1);

  @return calc(($plannerAreaHeight - $totalVerticalSpaceBetweenRows) / $rows-per-planner);
}

@function plannerRowItemHeight() {
  @return calc(plannerRowHeight() - $item-margin);
}

@function plannerRowMinHeight() {
  @return calc($height-threshold / $rows-per-planner);
}

.planner-row {
  height: plannerRowHeight();
  min-height: plannerRowMinHeight();

  .planner-row-item {
    @include item-border-shadow;

    height: plannerRowItemHeight();
    min-height: plannerRowMinHeight();
    margin-right: $item-margin;
    margin-left: $item-margin;
  }

  .meal-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto $item-margin; // horizontal align within container

    .link-icon {
      color: var(--mikesae-components-color-border-default);
    }
  }

  label.label-day {
    font-size: 0.75em;
    font-weight: bold;

    &.label-day-today {
      color: var(--mikesae-components-color-primary-default);
    }
  }

  .planner-item {
    border-radius: $border-radius;
    padding: 4px;
    background-color: var(--mikesae-components-color-background-default);

    img.img-item {
      display: block;
      height: calc(100% - 24px);
      aspect-ratio: $img-aspect-ratio;
      max-width: 100%;
      margin: 4px auto;
      border-radius: $border-radius;
    }
  }
}

// iPhone 6, 6S, 7 and 8 Landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .planner-item,
  .meal-placeholder {
    min-width: $min-image-width;
    min-height: $min-image-height;
  }
}

label.label-item {
  margin: 0;
  font-weight: bold;
  font-size: 0.75em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

$modal-image-height: 3em;
$modal-dropdown-button-height: calc($modal-image-height + 1em);

.planner-modal {
  margin: auto;
  width: 100%;
  height: 100%;
  background: var(--mikesae-components-color-background-default);
  color: var(--mikesae-components-color-text-default);

  &.container {
    position: relative;
  }

  .dropdown {
    .dropdown-menu {
      background: var(--mikesae-components-color-background-default);
      border: 1px solid var(--mikesae-components-color-border-default);
    }
    .dropdown-item {
      color: var(--mikesae-components-color-text-default);
    }
  }

  img.img-item {
    width: $modal-image-height;
    height: $modal-image-height;
    border-radius: $border-radius;
    margin-right: 10px;
  }

  .btn-on-bottom {
    margin-top: 1em;
  }

  .dropdown {
    padding: 0;

    .dropdown-toggle {
      width: 100%;

      &.btn {
        height: $modal-dropdown-button-height;
      }

      &.btn,
      &.btn:active,
      &.btn:focus,
      &.btn:hover {
        background-color: transparent !important;
        box-shadow: none !important;
        font-weight: bold;
      }
    }
  }
}
