@import 'src/themes/theme';

.row-planner {
  height: plannerRowHeight();
  min-height: plannerRowMinHeight();
  padding: 0 4px;

  .planner-row-item {
    border-radius: $border-radius;
    background-color: var(--mikesae-components-color-background-secondary);
    display: flex;
    flex-flow: column;
    padding: 0.25em 0.125em;

    height: plannerRowItemHeight();
    min-height: plannerRowMinHeight();
    margin-left: 2px;
    margin-right: 2px;
  }

  .meal-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    .link-icon {
      color: var(--mikesae-components-color-border-default);
    }
  }

  label.label-day {
    font-size: 0.75em;
    font-weight: bold;

    &.label-day-today {
      color: var(--mikesae-components-color-primary-default);
    }
  }

  .planner-item {


    img.img-item {
      height: calc(100% - 24px);
      aspect-ratio: $img-aspect-ratio;
      margin: 4px auto;
      border-radius: $border-radius;
    }
  }
}

// iPhone 6, 6S, 7 and 8 Landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .planner-item,
  .meal-placeholder {
    min-width: $min-image-width;
    min-height: $min-image-height;
  }
}

figcaption {
  label {
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

$modal-image-height: 3em;
$modal-dropdown-button-height: calc($modal-image-height + 1em);

.planner-modal {
  margin: auto;
  width: 100%;
  height: 100%;
  background: var(--mikesae-components-color-background-default);
  color: var(--mikesae-components-color-text-default);

  &.container {
    position: relative;
  }

  .dropdown {
    .dropdown-menu {
      background: var(--mikesae-components-color-background-default);
      border: 1px solid var(--mikesae-components-color-border-default);
    }
    .dropdown-item {
      color: var(--mikesae-components-color-text-default);
    }
  }

  img.img-item {
    width: $modal-image-height;
    height: $modal-image-height;
    border-radius: $border-radius;
    margin-right: 10px;
  }

  .btn-on-bottom {
    margin-top: 1em;
  }

  .dropdown {
    padding: 0;

    .dropdown-toggle {
      width: 100%;

      &.btn {
        height: $modal-dropdown-button-height;
      }

      &.btn,
      &.btn:active,
      &.btn:focus,
      &.btn:hover {
        background-color: transparent !important;
        box-shadow: none !important;
        font-weight: bold;
      }
    }
  }
}
