.cross-fade-leave {
  opacity: 1;
}

.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}

.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.slide-left-to-right-enter {
  transform: translateX(-100%);
}

.slide-left-to-right-enter.slide-left-to-right-enter-active {
  transform: translateX(0%);
  transition: transform 1s ease-in;
}

.slide-left-to-right-leave {
  transform: translateX(0%);
  transition: 1s ease-in;
}

.slide-left-to-right-leave.slide-left-to-right-leave-active {
  transform: translateX(100%);
  transition: transform 1s ease-in;
}
