$navbar-height: 3em;
$header-height: 3em;

$min-image-height: 3em;
$min-image-width: 4em;
$img-aspect-ratio: 1.25;
$border-radius: 4px;

:root {
  --mikesae-components-color-background-default: #efefef;
  --mikesae-components-color-background-secondary: #ffffff;
  --mikesae-components-color-text-default: black;
  --mikesae-components-color-button-text-default: white;
  --mikesae-components-color-link-default: black;
  --mikesae-components-color-icon-default: #444444;
  --mikesae-components-color-primary-default: #008f8f;
  --mikesae-components-color-border-default: #cccccc;
  --amplify-components-button-primary-background-color: var(--mikesae-components-color-primary-default);

  @media (prefers-color-scheme: dark) {
    --mikesae-components-color-background-default: black;
    --mikesae-components-color-background-secondary: #202020;
    --mikesae-components-color-text-default: white;
    --mikesae-components-color-link-default: white;
    --mikesae-components-color-icon-default: #cccccc;
    --mikesae-components-color-border-default: #888888;
  }
}

$rows-per-planner: 7;
$item-margin: 0.25em;
$navbar-height: 3em;
$height-threshold: 512px;

// Size image so specified rows fit on a page minus header, footer and space between.
@function plannerRowHeight() {
  $plannerAreaHeight: calc(100vh - 2 * $navbar-height);
  $totalVerticalSpaceBetweenRows: $item-margin * 2 * ($rows-per-planner + 1);

  @return calc(($plannerAreaHeight - $totalVerticalSpaceBetweenRows) / $rows-per-planner);
}

@function plannerRowItemHeight() {
  @return calc(plannerRowHeight() - $item-margin);
}

@function plannerRowMinHeight() {
  @return calc($height-threshold / $rows-per-planner);
}
