$navbar-height: 3em;
$header-height: 3em;

$min-image-height: 3em;
$min-image-width: 3em;
$img-aspect-ratio: 1.25;
$border-radius: 4px;

:root {
  --mikesae-components-color-background-default: white;
  --mikesae-components-color-background-secondary: #eeeee;
  --mikesae-components-color-text-default: black;
  --mikesae-components-color-button-text-default: white;
  --mikesae-components-color-link-default: black;
  --mikesae-components-color-icon-default: #444444;
  --mikesae-components-color-primary-default: #008f8f;
  --mikesae-components-color-border-default: #cccccc;
  --amplify-components-button-primary-background-color: var(--mikesae-components-color-primary-default);

  @media (prefers-color-scheme: dark) {
    --mikesae-components-color-background-default: black;
    --mikesae-components-color-background-secondary: #111111;
    --mikesae-components-color-text-default: white;
    --mikesae-components-color-link-default: white;
    --mikesae-components-color-icon-default: #cccccc;
    --mikesae-components-color-border-default: #333333;
  }
}

@mixin item-border-shadow {
  border-radius: $border-radius;
  box-shadow: 0 0 8px 0 var(--mikesae-components-color-border-default);
  -webkit-box-shadow: 0 0 8px 0 var(--mikesae-components-color-border-default);
}
