$highlight-color: #008F8F;
$highlight-color-background: rgba(0, 128, 0, 0.5);
$icon-color: #444444;
$dark-mode-icon-color: #cccccc;
$link-color: black;
$invert-link-color: white;
$navbar-separator-color: #333333;
$navbar-dark-background: #222222;
$navbar-light-background: #DDDDDD;
$player-thumbnail-background-color: white;

$navbar-height: 3em;
$header-height: 3em;

$min-image-height: 3em;
$min-image-width: 3em;

// Size image so 7 rows fit on a page minus header, footer and text between
//$image-height: calc((100vh - 3em - 3em - 12em - 0.5em) / 7);
$image-height: 3em;
$image-width: $image-height;

:root {
  --amplify-primary-color: #008F8F;
  --amplify-primary-tint: white;
  --amplify-primary-shade: white;
  --amplify-white: white;
  --amplify-black: black;
  --amplify-secondary-color: white;
  --amplify-primary-contrast: white;
  --amplify-grey: white;
  --body-background-color: #e4e4e4;
  --default-text-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
      --amplify-components-authenticator-router-background-color: var(--amplify-black);
      --amplify-components-authenticator-state-inactive-background-color:var(--amplify-black);
      --amplify-components-field-label-color: white;
      --body-background-color: black;
      --default-text-color: black;
    }
}