$highlight-color: #008F8F;
$highlight-color-background: rgba(0, 128, 0, 0.5);
$icon-color: #444444;
$dark-mode-icon-color: #cccccc;
$link-color: black;
$invert-link-color: white;
$navbar-separator-color: #333333;
$navbar-dark-background: #222222;
$navbar-light-background: #DDDDDD;
$player-thumbnail-background-color: white;

$navbar-height: 4em;
$header-height: 2.5em;
$image-size: 4em;
$modal-image-size: 48px;

:root {
  --amplify-primary-color: #008F8F;
  --amplify-primary-tint: white;
  --amplify-primary-shade: white;
  --amplify-white: black;
  --amplify-secondary-color: white;
  --amplify-primary-contrast: white;
  --amplify-grey: white;
}
