$highlight-color: #008F8F;
$highlight-color-background: rgba(0, 128, 0, 0.5);
$icon-color: #444444;
$dark-mode-icon-color: #cccccc;
$link-color: black;
$invert-link-color: white;
$navbar-separator-color: #333333;
$navbar-dark-background: #222222;
$navbar-light-background: #DDDDDD;
$player-thumbnail-background-color: white;

$navbar-height: 3em;
$header-height: 3em;

$image-height: 3em;
$image-width: 3em;

// For portrait, size image so 7 rows fit on a page minus header, footer and text between
$portrait-image-height: calc((100vh - 3em - 3em - 12em - 0.5em) / 7);
$portrait-image-width: $portrait-image-height;

$large-image-height: $image-height;
$large-image-width: $image-height;

:root {
  --amplify-primary-color: #008F8F;
  --amplify-primary-tint: white;
  --amplify-primary-shade: white;
  --amplify-white: black;
  --amplify-secondary-color: white;
  --amplify-primary-contrast: white;
  --amplify-grey: white;
}
