@import 'theme';

body {
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	color: var(--mikesae-components-color-text-default);
}

.navbar {
	background-color: var(--mikesae-components-color-background-default);

	.btn {
		background-color: transparent;
		color: var(--mikesae-components-color-link-default);

		&:active {
			color: var(--mikesae-components-color-primary-default);
		}
	}
	.btn-date-picker:focus {
		color: var(--mikesae-components-color-primary-default);
	}
}

.nav-item {
	a {
		color: var(--mikesae-components-color-icon-default);
	}
}

a {
	color: var(--mikesae-components-color-link-default);

	&.btn-link {
		color: var(--mikesae-components-color-primary-default);
		text-decoration: none;

		&:hover {
			color: var(--mikesae-components-color-primary-default);
			text-decoration: underline;
		}
	}

	&:hover {
		color: var(--mikesae-components-color-primary-default);
		text-decoration: none;
	}
}

.nav-item {
	.link-icon {
		font-size: 1em;
		vertical-align: -0.25em;
	}

	.icon-label {
		margin-top: 0;
		font-size: 0.75em;
	}
}

.btn-primary {
	background: var(--mikesae-components-color-primary-default);
}

.btn {
	color: var(--mikesae-components-color-button-text-default);
	background: var(--mikesae-components-color-primary-default);
	border: none;

	&:hover {
		color: var(--mikesae-components-color-background-default);
	}
}

.page {
	position: fixed;
	height: 100vh;
	width: 100vw;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: var(--mikesae-components-color-background-default);
}

.container {
	position: absolute;
	top: $navbar-height;
	height: calc(100vh - 2 * $navbar-height);
	max-width: 100%;
	overflow-y: auto;
	background-color: var(--mikesae-components-color-background-default);

	.img-col {
		text-align: center;
	}

	.form-group {
		max-width: 640px;
		margin: auto;
	}
}

.jumbotron-fluid {
	&.border-bottom {
		border-bottom-color: var(--mikesae-components-color-border-default) !important;
	}

	&.border-top {
		border-top-color: var(--mikesae-components-color-border-default) !important;
	}
}

.spinner-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-width: 300px;
	width: 100%;
}

.img-thumbnail {
	border: none;
}

// All landscape
@media only screen and (orientation: landscape) {
	.spinner-container {
		max-width: 100%;
	}
}

// iPad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.spinner-container {
		max-width: 100%;
	}
}

amplify-authenticator {
	background: black;
}

.fixed-top {
	z-index: 100;
}
