@import 'theme';

$image-height: 4em;
$dish-image-aspect-ratio: $img-aspect-ratio;

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + label {
  color: var(--mikesae-components-color-primary-default);
  display: inline-block;
  .link-icon {
    height: $image-height;
    aspect-ratio: $dish-image-aspect-ratio;
  }
}

.input-file:focus + label,
.input-file:hover + label {
  // TODO: Need a token for focus color.
  color: var(--mikesae-components-color-primary-default);
}

.items-form-container {
  .row {
    margin: 8px 0;
    border-radius: $border-radius;
    box-shadow: 0 0 8px 0 var(--mikesae-components-color-border-default);
    -webkit-box-shadow: 0 0 8px 0 var(--mikesae-components-color-border-default);

    input[type='text'] {
      width: 100%;
    }

    img.img-item,
    .add-item-placeholder {
      height: $image-height;
      aspect-ratio: $dish-image-aspect-ratio;
      border-radius: $border-radius;
    }

    .add-item-placeholder {
      border: 1px dotted var(--mikesae-components-color-border-default);
      background: transparent;

      display: flex;
      align-items: center;
      justify-content: center;

      .link-icon {
        color: var(--mikesae-components-color-border-default);
      }
    }
  }
}

.fa-1pt5x {
  font-size: 1.5em;
}

// iPhone 6, 6S, 7 and 8 Landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .mains-and-sides {
    .row {
      img.img-item {
        width: $min-image-width;
        aspect-ratio: $dish-image-aspect-ratio;
      }
    }
  }
}
