@import 'theme';

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + label {
  color: white;
  background-color: black;
  display: inline-block;
  .link-icon {
    height: $image-height;
    width: $image-width;
  }
}

.input-file:focus + label,
.input-file + label:hover {
  background-color: white;
}

.mains-and-sides {
  .row {
    margin-top: 5px;

    input[type=text] {
      width: 100%;
    }

    img.img-item {
      height: $image-height;
      width: $image-width;
      border: 1px solid lightslategray;
    }

    .img-col {
      text-overflow: clip;
    }
  }
}

.fa-1pt5x {
  font-size: 1.5em;
}

.add-item-placeholder {
  height: $image-height;
  width: $image-width;
  border: 1px dashed gray;
  background: transparent;
  margin: 0 auto; // horizontal align within container

  .link-icon {
    height: 100%; // vertical center within container
    color: gray;
  }
}