
@media (prefers-color-scheme: dark) {
  .rodal-dialog {
    background: black;
  }
}

.rodal-close {
  height: 32px;
  width: 32px;
}

.dropdown-menu {
  height: 400px;
  width: 100%;
  overflow-y: scroll;
}