.rodal-dialog {
  background: black;
}

.ReactModal__Overlay--after-open{
  margin-top: 0;
}

.ReactModal__Overlay--before-close{
  margin-top: 100%;
}

.dropdown-menu {
  height: 300px;
  overflow-y: scroll;
}