@import 'theme';

.planner-row {
  .meal-placeholder {
    height: $image-height;
    width: $image-width;
    border: 1px dashed gray;
    background: transparent;
    text-align: center; // horizontal center contents

    .link-icon {
      height: 100%;   // vertical center within container
      color: gray;
    }
  }
  img.img-item {
    width: $image-width;
    height: $image-height;
  }

  label.label-day {
    font-weight: bold;
    margin-top: 0.8em;
  }

  label.label-item {
    margin: 0;
    font-weight: normal;
    font-size: 0.75em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

$button-height: 64px;

.planner-modal {
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;

  img.img-item {
    width: $image-width;
    height: $image-height;
    margin-right: 10px;
  }

  .dropdown {
    .dropdown-menu {
      background: black;
      border: 1px solid lightslategray;

      .dropdown-item {
        background: black;
        color: white;
      }
    }
  }

  .btn-on-bottom {
    left: 5%;
    width: 90%;
    position: absolute;
    bottom: $navbar-height + 0.5em;
  }

  button {
    width: 100%;
    height: $button-height;
  }

}

.close-icon {
  margin: 16px;
  float: right;
  color: white;
}