@import 'theme';

.planner-row {
  .meal-placeholder {
    width: 100%;
    aspect-ratio: $image-aspect-ratio;
    border: 1px dashed gray;
    background: transparent;
    margin: 0 auto;   // horizontal align within container
    text-align: center; // center its contents (a link icon)

    .link-icon {
      height: 100%;   // vertical center within container
      color: gray;
    }
  }
  img.img-item {
    width: 100%;
    aspect-ratio: $image-aspect-ratio;
  }

  label.label-day {
    margin-top: 0.8em;

    &.label-day-today {
      font-weight: bold;
      color: $highlight-color;
    }
  }

  label.label-item {
    margin: 0;
    font-weight: normal;
    font-size: 0.75em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

$button-height: 64px;

@media (prefers-color-scheme: dark) {
  .planner-modal {
    background: black;
    color: white;
    .dropdown {
      .dropdown-menu {
        background: black;
        border: 1px solid lightslategray;

        .dropdown-item {
          background: black;
          color: white;
        }
      }
    }
  }
}

.planner-modal {
  margin: 0;
  width: 100%;
  height: 100%;

  img.img-item {
    width: 3em;
    height: 3em;
    margin-right: 10px;
  }

  .btn-on-bottom {
    margin-top: $button-height;
  }

  button {
    width: 100%;
    height: $button-height;
  }
}