@import 'theme';

.row {
  margin-top: 5px;
}

.navbar-top {
  label {
    font-size: smaller;
  }
}

.btn-date-picker {
  cursor: pointer;
  padding: 0 5px;
  border: 0;
  border-radius: 4px;
  font-size: 2em;
}

.row {
  .react-datepicker-wrapper {
    input[type=text] {

    }
  }

  &.planner-row {
    height: 4em;
    font-size: 1.25em;
    label {
      font-weight: bold;
      margin-top: 0.8em;
    }
  }

  .meal-placeholder {
    height: 3.5em;
    border: 1px dashed gray;
    background: transparent;

    .link-icon {
      height: 100%;
      color: gray;
      vertical-align: center;
      margin-left: 1.2em;
    }
  }
}
