@import 'theme';

.row {
  margin-top: 10px;
}

.navbar-top {
  label {
    font-size: smaller;
  }
}

.date-picker {
  button {
    &:focus {
      color: var(--mikesae-components-color-primary-default);
    }
    color: var(--mikesae-components-color-link-default);

    &:hover {
      cursor: pointer;
      color: var(--mikesae-components-color-primary-default);
    }

    &.no-focus:focus,
    &.no-focus:active {
      color: var(--mikesae-components-color-link-default);
    }

    &.button-date-picker:focus {
      color: var(--mikesae-components-color-primary-default);
    }

    background: none;
    padding: 0 5px;
    border: 0;
    outline: none;
    border-radius: 4px;
    margin-bottom: 4px;
  }
}

.col-1-10th {
  flex: 0 0 10%;
  max-width: 10%;
  padding-left: 5px;
  padding-right: 5px;
}

.col-3-10th {
  flex: 0 0 22.5%;
  max-width: 22.5%;
  padding-left: 2px;
  padding-right: 2px;
}
